<% form_tag session_path do -%>
<fieldset>
  <legend>Login Information</legend>
    <p><label for="login">Login Name</label><br/>
    <%= text_field_tag 'login' %></p>
    
    <p><label for="password">Password</label><br/>
    <%= password_field_tag 'password' %></p>



   <p><label for="remember_me">Remember me:</label>
   <%= check_box_tag 'remember_me' %></p>


   <p><%= submit_tag 'Log in' %></p>
  </fieldset>
<% end -%>
