<% title "New Assignment" %>

<%= render :partial => 'form', :locals => {:assignment => @assignment, :managername => @managername, :status_name => @status_name}%>

<p><%= link_to "Back to List", assignments_path %></p>
