@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) central stylesheet
 * (de) zentrales Stylesheet
 *
 * @creator     YAML Builder V1.0.3b (http://builder.yaml.de)
 * @file        my_layout.css
 */

/* import core styles | Basis-Stylesheets einbinden */
@import url(/yaml/core/base.css);

/* import screen layout | Screen-Layout einbinden */
@import url(/yaml/navigation/nav_slidingdoor.css);
@import url(/css/screen/basemod.css);
@import url(/css/screen/content.css);

/* import print layout | Druck-Layout einbinden */
/* @import url(../yaml/print/print_003_draft.css); */

#apDiv1 {
	position:absolute;
	left:463px;
	top:12px;
	width:350px;
	height:351px;
	z-index:2;
}
#apDiv2 {
	position:absolute;
	left:24px;
	top:12px;
	width:435px;
	height:638px;
	z-index:3;
}
#apDiv3 {
	position:absolute;
	left:463px;
	top:367px;
	width:156px;
	height:283px;
	z-index:4;
}