
body{
	font-family: Arial,sans-serif;
	color: #333333;
	line-height: 1.166;	
	margin: 0px;
	padding: 0px;
}

input#login {
  height: 16px;
  font-size: 10px;
} 

input#password {
  height: 16px;
  font-size: 10px;
} 

a:link, a:visited, a:hover {
	color: #006699;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
/* overrides decoration from previous rule for hovered links */

h1, h2, h3, h4, h5, h6 {
	font-family: Arial,sans-serif;
	margin: 0px;
	padding: 0px;
}

h1{
 font-family: Verdana,Arial,sans-serif;
 font-size: 120%;
 color: #334d55;
}

h2{
 font-size: 114%;
 color: #006699;
}

h3{
 font-size: 100%;
 color: #334d55;
}

h4{
 font-size: 100%;
 font-weight: normal;
 color: #333333;
}

h5{
 font-size: 100%;
 color: #334d55;
}

ul{
 list-style-type: square;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}

label{
	font: bold 100% Arial,sans-serif;
 color: #334d55;
}

/***********************************************/
/* Fieldset Divs                               */
/***********************************************/

fieldset {
float: left;
clear: both;
width: 300px;
margin: 0 0 1.5em 0;
padding: 0;
border: 1px solid #BFBAB0;
background-color: #F2EFE9;
}
legend {
margin-left: 1em;
color: #000000;
font-weight: bold;
}
fieldset ol {
padding: 1em 1em 0 1em;
list-style: none;
}
fieldset li {
padding-bottom: 1em;
}
fieldset.submit {
border-style: none;
}

/***********************************************/
/* Layout Divs                                 */
/***********************************************/

#masthead{
	margin: 0;
	padding: 10px 0px;
	border-bottom: 1px solid #cccccc;
	width: 100%;
}

#navBar{
	margin: 0 0 0 79%;
	padding: 0px;
	background-color: #eeeeee;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#content{
  float:left;
	width: 75%;
	margin: 0;
	padding: 0 3% 0 0;
}



/* The error box */ 
.fieldWithErrors { 
padding: 2px; 
background-color: red; 
display: table; 
} 
#errorExplanation { 
width: 400px; 
border: 2px solid red; 
padding: 7px; 
padding-bottom: 12px; 
margin-bottom: 20px; 
background-color: #f0f0f0; 
} 
#errorExplanation h2 { 
text-align: left; 
font-weight: bold; 
padding: 5px 5px 5px 15px; 
font-size: 12px; 
margin: -7px; 
background-color: #c00; 
color: #fff; 
} 
#errorExplanation p { 
color: #333; 
margin-bottom: 0; 
Report erratum 
this copy is (B1.6 printing, September 23, 2008) 
Prepared exclusively for Gunnar Magholder
THEFULLDEPOTAPPLICATION 710 
padding: 5px; 
} 
#errorExplanation ul li { 
font-size: 12px; 
list-style: square; 
} 


#notices {
	margin: 10px 0 0 5px;
}

/***********************************************/
/*Component Divs                               */
/***********************************************/

#siteName{
	margin: 0px;
	padding: 0px 0px 10px 10px;
}


/*************** #pageName styles **************/

#pageName{
	padding: 0px 0px 10px 10px;
}


/************** .story styles *****************/

.main{
	clear: both;
	padding: 10px 0px 0px 10px;
	font-size: 80%;
}

.main p{
  padding: 0px 0px 10px 0px;
}


/************* #siteInfo styles ***************/

#siteInfo{
	clear: both;
	border: 1px solid #cccccc;
	font-size: 75%;
	color: #cccccc;
	padding: 10px 10px 10px 10px;
	margin-top: -1px;
}


/************* #search styles ***************/

#login{
	padding: 5px 0px 5px 10px;
	border-bottom: 1px solid #cccccc;
	font-size: 90%;
}

#login form{
 margin: 0px;
 padding: 0px;
}

#login label{
	display: block;
	margin: 0px;
	padding: 0px;
}


/*********** #navBar link styles ***********/

#navBar ul a:link, #navBar ul a:visited {display: block;}
#navBar ul {list-style: none; margin: 0; padding: 0;}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
#navBar li {border-bottom: 1px solid #EEE;}

/* fix for browsers that don't need the hack */
html>body #navBar li {border-bottom: none;}


/*********** #sectionLinks styles ***********/

#sectionLinks{
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #cccccc;
	font-size: 90%;
}

#sectionLinks h3{
	padding: 10px 0px 2px 10px;
}

#sectionLinks a:link{
	padding: 2px 0px 2px 10px;
	border-top: 1px solid #cccccc;
	width: 100%;
	voice-family: "\"}\""; 
	voice-family:inherit;
	width: auto;
}

#sectionLinks a:visited{
	border-top: 1px solid #cccccc;
	padding: 2px 0px 2px 10px;
}

#sectionLinks a:hover{
	border-top: 1px solid #cccccc;
	background-color: #dddddd;
	padding: 2px 0px 2px 10px;
}

#auto_complete {
          width: 350px;
          background: #fff;
        }
#auto_complete ul {
          border:1px solid #888;
          margin:0;
          padding:0;
          width:100%;
          list-style-type:none;
        }
#auto_complete ul li {
          margin:0;
          padding:3px;
        }
#auto_complete ul li.selected {
          background-color: #ffb;
        }
#auto_complete ul strong.highlight {
          color: #800; 
          margin:0;
          padding:0;
        }
        
        
