@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) stylesheet for screen layout
 * (de) Stylesheet für das Bildschirm-Layout
 *
 * @creator     YAML Builder V1.0.3b (http://builder.yaml.de)
 * @file        basemod.css
 */

@media screen, projection
{
  /*-------------------------------------------------------------------------*/

  /* (en) Marginal areas & page background */
  /* (de) Randbereiche & Seitenhintergrund */
  body { background: #ffffff none; padding: 10px 0; }
  th,td { padding: 0.5em; }
  thead th { background: #93DB2A; color: #fff }
  tbody th { background: #93DB2A; color: #333 }
  tbody th.sub { background: #93DB2A; color: #333 }

  #header h1 {align: center;}
  /* Layout Alignment | Layout-Ausrichtung */
  #page_margins { margin: 0 auto; }

  /* Layout Properties | Layout-Eigenschaften */
  #page_margins { width: auto;  min-width: 740px; max-width: 90em; background: #fff; }
  #page { padding: 10px 15px 10px 10px; }
  #header { padding: 45px 2em 1em 20px; color: #000; background-image: url('/images/verlauf.jpg');}
  #topnav { color: #aaa; background: transparent; }
  #nav { overflow:hidden; }
  #nav_main { background-color: #92DB2B }
  #main { margin: 10px 0; background: #fff; }
  #footer { padding: 10px 20px; color:#666; background: #ffffff; border-top: 5px #ffffff solid; }

  /* (en) navigation: horizontal adjustment | (de) horizontale Ausrichtung  */
  #nav ul { margin-left: 20px; }

  /*-------------------------------------------------------------------------*/

  /**
   * (en) Formatting content container
   * (de) Formatierung der Inhalts-Container
   *
   */

  #col1 { float: left; width: 75%}
  #col2 { display:none}
  #col3 { width: auto; margin: 0 0 0 75%}
  #col1_content { padding: 0 10px 0 20px }
  #col3_content { padding: 0 20px 0 10px }
	
  /*-------------------------------------------------------------------------*/

  #page_margins {
    border: 0 none;
    background: #78B423;
  }

  #page {
    border: 0 none;
    margin: 0 0 0 5px; padding: 10px 15px 10px 10px;
  	 background: #78B423;
  }


  #border-top {
    overflow:hidden;
    width: auto;
    height: 20px;
    font-size:0;
    margin-bottom: -15px;
   background: #78B423;  
  }

  #border-bottom {
    overflow:hidden;
    width: auto;
    height: 20px;
    margin-top: -15px;
    font-size:0;
   background: #78B423;  
  }

  #edge-tl {
    float:left;
    width: 20px;
    height: 20px;
    font-size:0;
   background: #78B423; 
  }

  #edge-tr {
    position:relative; /* IE Fix | z-index */
    float:right;
    width: 20px;
    height: 20px;
    font-size:0;
 background: #78B423;
  }

  #edge-bl {
    float:left;
    width: 20px;
    height: 20px;
 background: #78B423;
  }

  #edge-br {
    position:relative; /* IE Fix | z-index */
    float:right;
    width: 20px;
    height: 20px;
    background: #78B423;
  }

}