<h1>Help </h1>
<h3>How I came to writing this application</h3>
<p>
	As a consultant, I'm working at customer sites, at home and at my office. All this working hours have to be tracked and I need to assing the time to projects.
</p>
<p>I was looking for an application, that can do the following:</p>
<ul>
	<li>Track my working time the easy way</li>
	<li>Work over plain http. Some customers don't like the idea of https</li>
	<li>Give me freedom in tracking my time. If I'm doing more than one thing at a time, I want to track that too.</li>
	<li>Don't limitate me to certain project structures but give me the freedom to track private and business projects with one tool</li>
	<li>Satisfy my boss. I need different formats in the reports</li>
</ul>
<p>There are a lot of tools out there, but every tool was missing something, that I needed,so I decided to write my own tool. This is the short story of the Road Timer, the tracking tool for people, that are "on the road".</p>

<h3>What does it do?</h3>
<p>Road Timer gives you a simple and easy to use interface to your working time.</p>
<p>The entry is done with a single line of input. This single line is used to input the data for an 'entry', that is one chunk of time, you want to get noted.</p>
<p>Each entry has to fulfill some requirements. First of all, it must have a project. You don't have to go to "my projects" and enter the project there. If you are entering a projectname in the project-name field and this project does not exist, it is immediately created. You can tweak the project settings afterwards.</p>
<p>You can use the 'mark ended' link for any open entry or just edit the entry. In both cases, that entry is given an endtime, that makes this entry visible in reporting. After logging on, you are getting a message if there are open entries.	
</p>
<h3>Tips and Tricks</h3>

<p></p>