<h1>FAQ für Road Timer</h1>

<h2>Wie entstand Road Timer?</h2>

<p>Road Timer ist eine Anwendung, die ich aus der täglichen Arbeit heraus geplant und entwickelt habe. Als System Engineer/Consultant bin ich sehr oft bei Kunden im Einsatz und habe dort bestenfalls per Webbrowser Zugriff auf das Internet - keine Chance also, ausgefeilte Anwendungen zu benutzen.</p>

<p>Außerdem werden Geräte stellenweise vom Kunden gestellt (keine von mir installierte Software vorhanden) und die Kommunikationsmöglichkeiten mit dem Firmennetz sind mehr als eingeschränkt.</p>

<p>Aus diesem Grund habe ich Road Timer entwickelt. Road Timer soll folgende Anforderungen erfüllen: </p>
<ol>
	<li>Eingabe meiner Arbeitszeit SO EINFACH WIE MÖGLICH</li>
	<li>Zuordnung von Zeiten zu einzelnen Projekten</li>
	<li>Erstellung von Projekten ohne großen Aufwand </li>
	<li>Auswertung der Zeiten nach Datum und/oder Projekt</li>
	<li>Einfaches Melden der Zeiten an den Vorgesetzten</li>
</ol>

<h2>Wie ist Road Timer aufgebaut?</h2>

<p>Road Timer ist eine reine Webanwendung, kann aber durch Anwendungen erweitert werden, die RESTfull Webservices verarbeiten können.</p><p>
Wenn Sie sich in Road Timer angemeldet haben, wird Ihnen die Navigationsleiste angezeigt.</p>
<img src="/FAQ-ger-Dateien/image001.png"  alt="Menuleiste">

<p>Die Navigationsreiter haben dabei folgende Bedeutung: </p>
<p>Home : Die Startseite</p>
<p>Projekte: Hier sind Ihre Projekte aufgelistet.</p>
<p>Zeiten: Hier nehmen Sie Ihre Zeiteingaben vor.</p>
<p>Bericht: Hier können Sie sich Ihre Zeiten anzeigen lassen.</p>
<p>Konto: Hier können Sie Ihre persönlichen Daten überprüfen.</p>
<p>Mitarbeiter: Sollten Sie über einen Manager Konto verfügen, finden Sie hier die Verwaltung der Ihnen zugeordneten Mitarbeiterkonten.</p>

<h2>Wie benutze ich Road Timer?</h2>

<p>Unter dem Navigationspunkt ‚Zeiten‘ können Sie Ihre Arbeitszeiten eingeben. Hierzu dient folgender Eingabebildschirm:</p>
<img src="/FAQ-ger-Dateien/image003.png"  alt="Zeiteintr&auml;ge">
<p></p>
<table>
<tr>
<td>	Unter ‚Erfassen‘ wird ein einzelner Eintrag erfasst.  
	Bei ‚Projektname‘ müssen Sie das Projekt eintragen, dem dieser Zeitblock zuzuordnen ist. Sollten Sie hier ein bisher nicht bekanntes Projekt eintragen, wird dieses Projekt erstmals angelegt. Bei der Eingabe￼ bereits vorhandener Projektnamen werden je nach eingegebenen Buchstaben Vorschläge unter dem Feld angezeigt. Diese sind direkt der Datenbank entnommen; es kann also eine Sekunde dauern, bis Ihnen die möglichen Projektnamen angezeigt werden. Durch Klick auf das gewünschte Feld oder Selektion mit den Pfeiltasten und Drücken der Tab-Taste wird das angezeigte Projekt dann als Eingabe übernommen.</td>
	<td><img src="/FAQ-ger-Dateien/image005.png"  alt="Image005"></td>
</tr>	
</table>
<p>Sie können dann unter ‚Bemerkungen‘ einige weiterführende Angaben zu diesem Zeitblock erfassen. Wenn bereits bekannt, kann unter ‚Ende‘ gleich die Endzeit eingetragen werden. Durch Betätigen des Knopfes ‚Erfassen‘ oder Drücken der Eingabetaste wird der Eintrag übernommen.</p>
<p>Standardmäßig werden Ihnen unter ‚Zeiteintragsliste‘ die letzten 10 eingebenen Zeiten aufgelistet. Die restlichen Einträge können durch die Bedienfelder zum Blätten am unteren Bildschirmrand ausgewählt werden. Bei noch nicht abgeschlossenen Einträgen wird ein Link ‚Beenden‘ angezeigt. Damit können Sie den betreffenden Eintrag mit der aktuellen Uhrzeit als Ende abschließen.</p>
<p>Auch mit den Links ‚Anzeigen‘, ‚Bearbeiten‘ und ‚Löschen‘ können die einzelnen Einträge bearbeitet werden.</p>