<h1>Projektliste</h1>
<h2>WORK IN PROGRESS</h2>
<p>Die Projektliste gibt Ihnen einen Überblick über die Daten Ihrer Projekte und der bis heute aufgelaufenen Minuten. Sie können zu jedem Projekt ein Budget, ein Enddatum und einen Kunden erfassen; diese Felder dienen aktuelle aber nur der Information. Wir arbeiten an der Implementierung von Funktionen, die diese Felder benutzen.</p>
<img src="/images/ProjektListe-full.gif" width="425" height="119" alt="ProjektListe Full">